
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Manage</h2>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordLocal")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveAccountList")
    @Html.Partial("_ExternalLoginPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
</section>
<section>

</section>

