
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="well">
            <h1 class="header">MVC + Mongodb</h1>
            This is the sample application to demonstrate the use of MVC together with MongoDb
            <ul>
                <li><small>ASP.Net User Management on Mongodb</small></li>
                <li><small>CRUD Operations to MongoDb</small></li>
            </ul>
            
            <small class="pull-right badge progress-bar-default">By Celimpilo Mncwango</small>

        </div>
    </div>
</div>

